mixin reviewCard(review)
  .reviews__card
    .reviews__avatar
      - // Guard against missing user (deleted account) and provide fallback
      if review.user
        img.reviews__avatar-img(src=`/img/users/${review.user.photo || 'default.jpg'}`, alt=`${review.user.name || 'User'}`)
        h6.reviews__user= review.user.name || 'User'
      else
        img.reviews__avatar-img(src='/img/users/default.jpg', alt='User')
        h6.reviews__user Deleted user
    p.reviews__text= review.review
    .reviews__rating
      each star in [1, 2, 3, 4, 5]
        - const active = review.rating >= star
        svg.reviews__star(class= `reviews__star--${active ? 'active' : 'inactive'}`)
          use(xlink:href='/img/icons.svg#icon-star')